{{!--<h3>Canvas Toolbar</h3>--}}

{{#bs-button type='button' class='group-list-item btn-outline-success btn-xl' onClick=(action 'addTestNode')}}{{fa-icon 'plus'}} Test Node{{/bs-button}}
{{#bs-button type='button' class='group-list-item btn-outline-success btn-xl' onClick=(action 'addDataSet')}}{{fa-icon 'plus'}} Test Data{{/bs-button}}