<h3>This is the vis-parent component. </h3> <br>
It will load: 
<ul>
	<li> a vizualization canvas</li>
	<li> a vizualization manipulation toolbar </li>
	<li> a popup that enables node editing </li>
</ul>
Data is available as \{{model}}
<hr>

{{canvas-toolbar model=model}}

{{node-canvas model=model}}
