@import "pod-styles";
// @import 'ember-paper';
@import 'ember-power-select/themes/material';
@import 'ember-power-select';
@import "ember-bootstrap/bootstrap";

.toolbar {
  position: absolute;
  margin: 0;
  padding: 0;
}

@import "ember-power-select/themes/bootstrap";

@import "ember-power-select";

.frame {
  height: calc(100vh);
}

.container, .row {
  height: 100%;
}