

@import "ember-bootstrap/bootstrap";
@import "ember-basic-dropdown";

// app/styles/app.scss

.header {
  user-select: none;
  a {
      text-decoration: none;
      color: black;  
    }

  a:hover {
    text-decoration: none;
    color: black;
  }
}

body {
  padding-top:5px;
  .main {
    width: 100%;
    .ember-cli-visjs-network .network-canvas {
      height: 80vh;
    }
  }

  .remove-label-button {
    background: rgba(255,255,255,0);
    outline: none;
    border: none;
    color: black;
  }
  
  .close-edit:hover {
    background: white;
    border: none;
  }
  
  .close-edit {
    border: none;
  }
  
  .reveal-connections {
    color: rgba(0,0,0,0.65);
  }
}

.tooltip {
  user-select: none;
}

.graphing-tool-badge {
  opacity: 0.75;
  font-size :50%;
}

.account-dropdown {
  position: fixed;
  top: 5px;
  right: 5px;
}

.propertyDeleteButtons {
  right: 0;
}

.card-info {
  min-width: 12rem;
  max-width: 50rem;
}

.welcome-page {
  padding: 0;
}

.account-dropdown-list {
  list-style: none;
}

.footer {
  user-select: none;
  height: 5vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: white;
}

.badge {
  user-select: none;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}


.trigger-bootstrap-feel {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 6px 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  outline: none;
}

.trigger-bootstrap-feel:focus, .trigger-bootstrap-feel:hover {
  background-color: #d4d4d4;
  border-color: #8c8c8c
}

.content-bootstrap-feel {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  padding: 5px;
  margin: 2px 0 0;
}

$ember-power-select-border-color: #64A5ED;
$ember-power-select-border-radius: 0;
@import "ember-power-select";