@import "pod-styles";
@import 'ember-power-select/themes/material';
@import 'ember-power-select';
@import "ember-bootstrap/bootstrap";
@import "ember-power-select/themes/bootstrap";

// .toolbar {
//   position: absolute;
//   margin: 0;
//   padding: 0;
// }


.frame {
  height: calc(100vh - 65px - 25px);

  text {
    pointer-events: none;
  }
}

.container, .row {
  height: 100%;
}


.ember-basic-dropdown-content, .ember-power-select-dropdown {
  z-index: 100000
}