  {{#paper-form onSubmit=(action saveNode form) as |form|}}
    <div class="layout-row">
      <div class="layout-column flex-50">
        {{form.input label="First Name" value=firstName onChange=(action (mut firstName)) required=true}}
        {{form.input label="Last Name" value=lastName onChange=(action (mut lastName))}}
      </div>
      <div class="layout-column flex-50">
          {{#form.autocomplete
            required=true
            options=items
            selected=selectedCountry
            searchField="name"
            labelPath="name"
            label="Country"
            loadingMessage="Searching countries..."
            noMatchesMessage="Oops this country doesn't exist."
            onSelectionChange=(action (mut selectedCountry)) as |country select|}}
            {{paper-autocomplete-highlight
              label=country.name
              searchText=select.searchText
              flags="i"}}
        {{/form.autocomplete}}
        {{form.input type="number" label="Age" value=age onChange=(action (mut age)) min=13 max=65 required=true}}
      </div>
    </div>
    <div class="layout-row">
      {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
    </div>
  {{/paper-form}}