& {
  height: calc((100vh - 65px - 25px) * (2 / 3));
  width: 100%;
  overflow: auto;
}

h3,
.footer {
  width: 100%;
  background-color: white;
  position: sticky;
  padding: 15px;
  z-index: 1;
}

h3 {
  top: 0;
}
.footer {
  bottom: 0;
}

section {
  position: sticky;
  top: 0;
}
