<li>
  Click search to get started.
</li>

<li>
  Search for your node.
</li>

<li>
  Explore the network.
</li>

<li>
  Click on a node to see it's details.
</li>

<li>
  Edit each node's properties.
</li>

{{#paper-list}}
  {{#paper-subheader}}Tips{{/paper-subheader}}
    {{#paper-item class="md-3-line"}}
    <h3>Creating nodes</h3>
    <p></p>
    {{/paper-item}}
    {{#paper-item class="md-3-line"}}
    <h3>Editing your node</h3>
    <p></p>
    {{/paper-item}}
    {{#paper-item class="md-3-line"}}
    <h3>Creating relationships</h3>
    <p></p>
    {{/paper-item}}
    {{#paper-item class="md-3-line"}}
    <h3>How to find your nodes</h3>
    <p></p>
    {{/paper-item}}
{{/paper-list}}
