<div class='container'>

  <div class='row'>
    <div class='col'></div>
    <div class='col'>
      <h3>Welcome to Graph9!</h3>
    </div>
    <div class='col'></div>
  </div>

  <div class='row'>
    <div class='col'>
      Click login to create your own graph and get started!
      <br>
      {{#bs-button onClick=(action 'login')}}Login{{/bs-button}}
    </div>
  </div>

</div>